<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <!--<p>Display the details of the Dish here</p>-->
    <div fxFlex>
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{ dish.name | uppercase }}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src="{{ BaseURL + dish.image }}" alt="{{ dish.name }}">
        <md-card-content>
          <p>{{ dish.description }}</p>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left"></span>
          </button>
          <button md-button (click)="goBack()">Back</button>
          <button md-button>Like</button>
          <button md-button>Share</button>
          <span class="flex-spacer"></span>
          <button md-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right"></span>
          </button>
        </md-card-actions>
      </md-card>
    </div>
    <div [hidden]="dish">
      <md-spinner></md-spinner><h4>Loading ... Please Wait</h4>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <!--<p>Display the list of comments here</p>-->
    <div fxFlex>
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{ "Comments" | uppercase }}</h3>
          </md-card-title>
        </md-card-header>
        <md-list>
          <md-list-item *ngFor="let list of dish.comments">
            <h3 md-line> {{list.comment}} </h3>
            <p md-line> {{list.rating}} </p>
            <p md-line> {{list.author}} </p>
            <p md-line> {{list.date | date}} </p>
          </md-list-item>
        </md-list>
      </md-card>
    </div>
    <div [hidden]="dish">
      <md-spinner></md-spinner><h4>Loading ... Please Wait</h4>
    </div>
  </div>

</div>
